<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="layoutregistro">

  <div id="logo">
    <img src="assets/images/logo.png">
  </div>

  <div id="registrouser">
    <ion-card class="center" id="formRegistro">
      <form [formGroup]="persona" (ngSubmit)="registrar()">
        <ion-card-header class="ion-text-center">Registro de Usuario</ion-card-header>
        <ion-card-content>
          <ion-input formControlName="rut" type="text" labelPlacement="stacked" label="RUT" fill="outline"></ion-input>
          <br>
          <ion-input formControlName="nombre" type="text" labelPlacement="stacked" label="Nombre" fill="outline"></ion-input>
          <br>
          <ion-input formControlName="fecha_nacimiento" type="date" labelPlacement="stacked" label="Fecha de Nacimiento" fill="outline"></ion-input>
          <br>
          <ion-input formControlName="password" type="password" labelPlacement="stacked" label="Contraseña" fill="outline"></ion-input>
          <br>
          <ion-select formControlName="genero" label="Género" labelPlacement="stacked" placeHolder="Género" fill="outline">
            <ion-select-option>Masculino</ion-select-option>
            <ion-select-option>Femenino</ion-select-option>
            <ion-select-option>Otro</ion-select-option>
            <ion-select-option>Prefiero no decirlo</ion-select-option>
          </ion-select>
          <br>
          <ion-label>¿Tiene Auto?</ion-label>
            <ion-radio-group formControlName="tiene_auto">
              <ion-radio value="si" >Sí</ion-radio>
              <ion-radio value="no" >No</ion-radio>
            </ion-radio-group>
            <br>
            <ion-input *ngIf="persona.controls.tiene_auto.value=='si'" formControlName="patente_auto" type="text" label="Patente auto" labelPlacement="stacked"></ion-input>
          <br>
          <ion-button size="block" [disabled]="persona.invalid" type="submit" color="secondary" shape="round">REGISTRARSE</ion-button>
          <ion-alert trigger="present-alert" header="¡Alerta!" [buttons]="alertButtons" (didDismiss)="setResult($event)"></ion-alert>
          <br>
          <p class="ion-text-center">¿Ya tienes una cuenta? Ingresa <a routerLink="/login">aquí</a></p>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
</ion-content>
