
<ion-content>
  <ion-list>
    <ion-item *ngFor="let viaje of viajesDelConductor">
      <ion-label>
        <h2>Destino: {{ viaje.nombre_destino }}</h2>
        <p>Duración: {{ viaje.duracion_viaje }}</p>
        <p>Costo: {{ viaje.costo_viaje | currency: 'CLP' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noViajes>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No tienes viajes registrados.</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>
