.viaje-card {
  margin: 10px 0; /* Espaciado entre tarjetas */
  height: 250px; /* Establece una altura fija para todas las tarjetas */
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  transition: transform 0.2s; /* Efecto de transición al pasar el ratón */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  border-radius: 8px; /* Bordes redondeados */
  display: flex; /* Usar flexbox para alinear el contenido */
  flex-direction: column; /* Colocar los elementos en columna */
}

.viaje-card:hover {
  transform: translateY(-5px); /* Levanta ligeramente la tarjeta al pasar el ratón */
}

.contenido-card {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  justify-content: space-between; /* Distribuye el espacio entre elementos */
  height: 100%; /* Asegura que ocupe toda la altura de la tarjeta */
}

.destino {
  font-size: 1.5em; /* Tamaño de fuente más grande para el destino */
  color: #007aff; /* Color azul para el destino */
  margin-bottom: 5px; /* Espacio inferior */
  text-align: center; /* Centrar el título */
  height: 30px; /* Altura fija para que todos los títulos tengan el mismo tamaño */
}

.conductor, .asientos, .estado {
  font-size: 1em; /* Tamaño de fuente estándar */
  color: #333; /* Color de texto oscuro */
  margin: 5px 0; /* Espaciado vertical */
}

.pasajeros {
  margin-top: 10px; /* Espacio superior para separar de los detalles del viaje */
}

.pasajero-item {
  font-size: 0.9em; /* Tamaño de fuente más pequeño para los pasajeros */
  color: #555; /* Color gris para los nombres de los pasajeros */
  padding: 5px; /* Espaciado interno para los elementos de pasajeros */
}

.sin-pasajeros {
  color: #888; /* Color gris para el mensaje de sin pasajeros */
  font-style: italic; /* Estilo de fuente itálica para el mensaje */
  text-align: center; /* Centra el mensaje */
  margin: 10px 0; /* Espacio vertical alrededor del mensaje */
  position: absolute; /* Asegura que se muestre en el centro del card */
  bottom: 10px; /* Posiciona el mensaje cerca de la parte inferior */
  left: 0;
  right: 0;
}
