<ion-content class="portada-content">
  <div class="portada-container">
    <img src="../../../assets/images/logo.png" alt="Imagen Portada" class="portada-image">
    <h1 class="portada-title">MoveGo</h1>
    <ion-button expand="full" class="comenzar-button" (click)="start()">
      Comenzar
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>

    <!-- Sección de derechos de autor -->
    <footer class="footer">
      <img src="../../../assets/images/logo.png" alt="Logo Footer" class="footer-logo">
      <p class="footer-text">© 2024 MoveGo. Todos los derechos reservados.</p>
    </footer>
  </div>
</ion-content>
