// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #3880ff; /* Color principal en tema claro */
    --ion-background-color: #ffffff; /* Fondo blanco */
    --ion-text-color: #000000; /* Texto negro */
  }