<!-- restablecer-contrasena.page.html -->
<ion-content>
  <div id="logo">
    <img src="assets/images/logo.png">
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ingrese su nueva contraseña</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Nueva Contraseña</ion-label>
              <ion-input
                type="password"
                [(ngModel)]="nuevaContrasena"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirmar Contraseña</ion-label>
              <ion-input
                type="password"
                [(ngModel)]="confirmarContrasena"
              ></ion-input>
            </ion-item>
            <ion-button
              expand="block"
              color="primary"
              (click)="onSubmit()"
              [disabled]="isLoading"
            >
              {{ isLoading ? 'Restableciendo...' : 'Restablecer Contraseña' }}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
