<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <img id="logomenu" src="assets/images/logo.png" alt="Logo">
    </ion-buttons>
    <ion-title class="toolbar-title">MoveGo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="bienvenida">
    <img alt="Gato conductor" src="../../../assets/images/gato_conductor.jpeg" />
    <ion-card-header>
      <ion-card-title>Bienvenido/Bienvenida!</ion-card-title>
      <ion-card-subtitle>Es un placer tenerte por aquí</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-content>
        Te presentamos una aplicación móvil que facilita el retorno a casa de manera rápida y segura.
      
        <h3>¿Cómo funciona MoveGo?</h3>
      
        <ul>
          <li><strong>Programación de Viajes:</strong> Los estudiantes con transporte propio pueden ofrecer viajes y fijar el costo por persona.</li>
          <li><strong>Búsqueda de Transporte:</strong> Los estudiantes sin vehículo pueden buscar y solicitar unirse a los viajes disponibles.</li>
          <li><strong>Organización y Pago:</strong> Los alumnos se organizan, pagan su tarifa y comienzan su viaje.</li>
        </ul>
      
        <h3>Beneficios de MoveGo:</h3>
        <ul>
          <li><strong>Optimiza el tiempo</strong> de búsqueda de transporte.</li>
          <li><strong>Fomenta la colaboración</strong> entre compañeros.</li>
          <li><strong>Incentiva la asistencia</strong> a clases.</li>
          <li><strong>Reduce la huella de carbono.</strong></li>
        </ul>
      
        ¡Estamos encantados de tenerte a bordo y esperamos que disfrutes de una experiencia más sencilla y conectada con MoveGo!
      </ion-card-content>
    </ion-card-content>
  </ion-card>


  
  

  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button tab="viajes">
        <ion-icon name="car-sport-outline"></ion-icon>
        <span class="tab-label">Viajes</span>
      </ion-tab-button>
  
      <ion-tab-button tab="administrar">
        <ion-icon name="business-outline"></ion-icon>
        <span class="tab-label">Administrar</span>
      </ion-tab-button>
  
      <ion-tab-button tab="perfil">
        <ion-icon name="person-outline"></ion-icon>
        <span class="tab-label">Perfil</span>
      </ion-tab-button>
    </ion-tab-bar >
  </ion-tabs>





 
</ion-content>

