<ion-header>
  <ion-toolbar class="custom-toolbar">
    <!-- Usuario tipo con estilo formal y luz verde -->
    <ion-buttons slot="end">
      <div class="user-status">
        <span class="status-light"></span>
        <p class="user-type">{{ usuario.nombre | titlecase }}</p>
      </div>
    </ion-buttons>

    <!-- Logo ajustado para mejor alineación -->
    <ion-buttons slot="start">
      <a [routerLink]="['']" class="logo-link">
        <img id="logomenu" src="assets/images/logo.png" alt="Logo" class="logo-img">
      </a>
    </ion-buttons>

    <!-- Título central estilizado -->
    <ion-title class="toolbar-title">
      <a [routerLink]="['']" class="title-link">MoveGo</a>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="welcome-message">
    <ion-card class="welcome-card">
      <img src="../../../assets/images/logo.png" alt="Imagen de Bienvenida" class="welcome-image">
      <ion-card-header>
        <ion-card-title class="welcome-title">✨ ¡Bienvenido a MoveGo! 🚗💨</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="welcome-text">Nos alegra tenerte aquí. 🌟 Explora y optimiza tus viajes con nosotros.</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-bar">
      <ion-tab-button tab="viajes">
        <ion-icon name="car-sport-outline"></ion-icon>
        <span class="tab-label">Viajes</span>
      </ion-tab-button>
      <ion-tab-button tab="administrar" *ngIf="usuario.tipo_usuario=='Administrador'">
        <ion-icon name="business-outline"></ion-icon>
        <span class="tab-label">Administrar</span>
      </ion-tab-button>
      <ion-tab-button tab="perfil">
        <ion-icon name="person-outline"></ion-icon>
        <span class="tab-label">Perfil</span>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
