<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/logo.png" alt="logo" id="logo">

  <ion-card class="detalles-viaje" *ngIf="viaje">
    <ion-card-header>
      <ion-card-title>Detalles del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Conductor:</ion-label>
          <ion-text>{{ viaje.conductor }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Patente:</ion-label>
          <ion-text>{{ viaje.patente }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Color del Auto:</ion-label>
          <ion-text>{{ viaje.color_auto }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Destino:</ion-label>
          <ion-text>{{ viaje.nombre_destino }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Duración del Viaje:</ion-label>
          <ion-text>{{ viaje.duracion_viaje }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Costo:</ion-label>
          <ion-text>{{ viaje.costo_viaje | currency: 'CLP' }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Método de Pago:</ion-label>
          <ion-text>{{ viaje.metodo_pago }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Hora de Salida:</ion-label>
          <ion-text>{{ viaje.hora_salida }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Estado del Viaje:</ion-label>
          <ion-text>{{ viaje.estado_viaje }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Asientos Disponibles:</ion-label>
          <ion-text>{{ viaje.asientos_disponibles }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!viaje">
    <ion-card-content>
      <p>Detalles del viaje no disponibles.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="primary" 
    (click)="viaje?.estado_viaje === 'en_curso' ? volver() : confirmarTomaViaje()">
    {{ viaje?.estado_viaje === 'en_curso' ? 'Volver' : 'Tomar Viaje' }}
  </ion-button>
</ion-footer>

