ion-list{
    --my-segment-color: #25698e;

    border-radius: 0px;
    ion-segment{
        --background: var(--ion-color-primary-contrast);
        border-radius: 20px;
        border: 1px solid var(--ion-color-medium);
        --margin-top: 5px;
        --margin-bottom: 5px;
        ion-segment-button{
            //--background-checked: var(--ion-color-primary);
            --indicator-color: var(--ion-color-primary);
            --border-radius: 20px;
            --color: var(--ion-color-primary);
            --color-checked: var(--ion-color-primary-contrast);
        }
    }
}

#busquedaDestinos{
    margin: 10px;
}

#destinos{
    margin: 5px 0;
}

.ion-margin{
    border-radius: 20px;
}

#iframe{
    transition: height 0.5s ease;
}

.map-collapsed{
    height: 50%;
}

.animated-list{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show-list{
    opacity: 1;
    transform: translateY(0);
}